.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw; /* 横幅を画面幅に設定 */
  height: auto;
}

.App-header {
  margin-bottom: 20px;
}

.App-body {
  margin-top: 20px;
  --ciq-maincolor: #28385E;
  --ciq-subcolor: #516C8D;
  --ciq-background: white;
}

.recording-submit {
  margin-top: 30px;
  margin-bottom: 30px;
}


/* 
.button1 button {
  background-color: var(--ciq-maincolor);
  color: #ffffff;
}

.button2 button {
  background-color: var(--ciq-maincolor);
  color: #ffffff;
}

.button3 button {
  background-color: var(--ciq-maincolor);
  color: #ffffff;
}

.button5 button {
  background-color: var(--ciq-maincolor);
  color: #ffffff;
}*/